<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<title>Project Academy</title>
<meta name="Author" content="Breno Silva" />
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap"
	rel="stylesheet">

</head>
<body>


	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>

	<section class="neo-section"
		style="background-image: url('img/bg-index.jpg');">

		<div class="sombra"></div>

		<div class="center neo-container">
			<h1 class="texto-centro">Sistema de Gerenciamento de Alunos</h1>


			<div class="botoes">

				<div class="wm">
					<a type="submit" th:href="@{inserirAlunos}" class="btn">CADASTRAR ALUNO</a>
				</div>

				<div class="wm">
						<a type="submit" th:href="@{alunos-adicionados}" class="btn">ENCONTRAR ALUNO</a>
				</div>

				<div class="clear"></div>

			</div>
		</div>
	</section>

	<!--  Inicio do Modal -->

	<div class="modal fade" id="modalPesquisa">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Encontre um Aluno</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<form method="post" action="pesquisar-aluno" th:object="${aluno}">
					<div class="modal-body">
						<input class="form-control" type="text" placeholder="Digite o nome do aluno" >
						<!--  th:field="*{nome} -->
					</div>
					<div class="modal-footer">
						<button class="btn btn-danger" data-dismiss="modal">Fechar</button>
						<button type="submit" class="btn btn-primary">Pesquisar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
		
	<div th:replace="fragmentos/fragmentos :: rodape"></div>
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>