<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<title>+ Encontrar Alunos</title>
<meta name="Author" content="Breno Silva" />
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap"
	rel="stylesheet">

</head>
<body>
	<div th:replace="fragmentos/fragmentos2 :: cabecalho"></div>

	<div class="container" style="margin-top: 50px;">
		<h4>+ Encontrar Alunos</h4>
		<hr>
		<br>
		<form method="post" action="aluno-filtrado" th:object="${aluno}">
			<div class="input-group col-6 offset-3">
						<input class="form-control" type="text" placeholder="Digite o nome do aluno">
						<!--   th:field="*{nome}" -->
				<div class="input-group-append">
					<button type="submit" class="btn btn-primary"
						style="width: 120px; height: 50px; margin-bottom: 25px;">Pesquisar</button>
				</div>

			</div>
		</form>

		<hr>
		<div class="row">
			<div class="card" style="width: 288px">
				<a th:href="@{/alunos-ativos}"> <img class="card-img-top"
					src="img/Alunos-Ativos.jpg" />
				</a>
				<div class="card-body">
					<h5 class="card-title">Alunos Ativos no Sistema</h5>
					<p class="card-text">Busque por todos os alunos que estão
						ativos no sistema.</p>
					<a th:href="@{/alunos-ativos}" class="btn btn-primary"
						style="width: 70%; height: 30%; margin-bottom: 40px;">Clique
						Aqui!</a>
				</div>
			</div>

			<!-- Alunos Invativos -->
			<div class="card ml-3" style="width: 288px">
				<a th:href="@{/alunos-inativos}"> <img class="card-img-top"
					src="img/Alunos-Inativos.jpg" />
				</a>

				<div class="card-body">
					<h5 class="card-title">Alunos Inativos</h5>
					<p class="card-text">Busque por todos os alunos que estão
						inativos no sistema.</p>
					<a th:href="@{/alunos-inativos}" class="btn btn-primary"
						style="width: 70%; height: 30%; margin-bottom: 40px;">Clique
						Aqui!</a>
				</div>
			</div>

			<!-- Alunos cancelados -->
			<div class="card ml-3" style="width: 288px">
				<a th:href="@{/alunos-trancados}"> <img class="card-img-top"
					src="img/Alunos-Cancelados.jpg" />
				</a>
				<div class="card-body">
					<h5 class="card-title">Alunos Cancelados</h5>
					<p class="card-text">Busque por todos os alunos que estão
						cancelados no sistema.</p>
					<a th:href="@{/alunos-cancelados}" class="btn btn-primary"
						style="width: 70%; height: 30%; margin-bottom: 40px;">Clique
						Aqui!</a>
				</div>
			</div>

			<!-- Alunos Trancados -->
			<div class="card mt-3" style="width: 288px">
				<a th:href="@{/alunos-trancados}"> <img class="card-img-top"
					src="img/Alunos-Trancados.jpg" />
				</a>

				<div class="card-body">
					<h5 class="card-title">Alunos Trancados</h5>
					<p class="card-text">Busque por todos os alunos que estão
						trancados no sistema.</p>
					<a th:href="@{/alunos-trancados}" class="btn btn-primary"
						style="width: 70%; height: 30%; margin-bottom: 40px;">Clique
						Aqui!</a>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
</body>
</html>