<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<title>+ Adicionar Alunos</title>
<meta name="Author" content="Breno Silva" />
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap"
	rel="stylesheet">

</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>

	<div class="container" style="margin-top: 50px;">
		<h4>+ Adicionar Aluno</h4>
		<hr>
		<form method="post" action="InsertAlunos" th:object="${aluno}">
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
				<label class="validation-message" th:errors="*{nome}"></label>
			</div>
					<label>Nome do Aluno: </label> <input class="form-control"
						placeholder="Ex: Breno Silva" th:field="*{nome}">
				</div>
			</div>

			<!--  Curso -->

			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('curso')}">
				<label class="validation-message" th:errors="*{curso}"></label>
				</div>
					<label>Selecione o curso: </label>
					 <select class="form-control" style="z-index: -1" th:field="*{curso}">
						<option
							th:each="curso : ${T(br.com.academy.Enums.Curso).values()}"
							th:value="${curso}" th:text="${curso}"></option>
					</select>
				</div>
			</div>

			<!-- Matricula -->

			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('matricula')}">
				<label class="validation-message" th:errors="*{matricula}"></label>
				</div>
					<label>Gerar Matricula: </label> 
					<input readonly="readonly" class="form-control" id="matricula" th:field="*{matricula}">
					<button type="button" onclick="GerarMatricula();"
						class="btn btn-dark" style="margin-top: 10px; height: 25%; width: 20%; padding-top: 0.1%"> Gerar</button>
				</div>
			</div>

			<!--  Status -->

			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('status')}">
				<label class="validation-message" th:errors="*{status}"></label>
				</div>
					<label>Selecione o Status: </label>
					 <select class="form-control" th:field="*{status}">
						<option
							th:each="status : ${T(br.com.academy.Enums.Status).values()}"
							th:value="${status}" th:text="${status}">
							</option>
					</select>
				</div>
			</div>

	<!-- Turno -->
	
	<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('turno')}">
				<label class="validation-message" th:errors="*{turno}"></label>
				</div>
					<label>Turno: </label> 
					<input class="form-control" placeholder="Ex: Tarde" th:field="*{turno}">
				</div>
			</div>

<div class ="row">
<button type="submit" class="btn btn-success offset-md-3" style="margin-top: 7px; margin-left: 26%; height: 30px; width: 20%; padding-top: 0.1%">SALVAR</button>
		&nbsp;&nbsp;&nbsp;&nbsp;
<a class="btn btn-outline-danger" style="margin-top: 7px; margin-left: 1%; height: 30px; width: 20%; padding-top: 0.1%">VOLTAR</a>
</div>
		</form>
	</div>
	<div class="modal fade" id="modalPesquisa">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Encontre um Aluno</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<form method="post" action="pesquisar-aluno" th:object="${aluno}">
					<div class="modal-body">
						<input class="form-control" type="text" placeholder="Digite o nome do aluno" th:field="*{nome}" >
					</div>
					<div class="modal-footer">
						<button class="btn btn-danger" data-dismiss="modal">Fechar</button>
						<button type="submit" class="btn btn-primary">Pesquisar</button>
					</div>
				</form>


			</div>
		</div>
	</div>
	
	<script src="js/main.js"></script>
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
	
</body>
</html>